*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.details-home{
    background-color: rgba(245, 245, 245, 0.315);
    padding: 130px 0;
}

.details-home h5{
    color: #192a56;
    font-weight: 600;
}


.details-home img{
    width: 340px;
   
}
.details-home a{
    text-transform: capitalize;
    width: 50%;
   
}


.details-home h4{
     color: #192a56;
     font-weight: 600;
}

/* dark mood */

body.dark .details-home{
    background-color: black;
}

body.dark .details-home h5 {
   color: white;
}

body.dark .details-home h4 {
   color: white;
}

body.dark .details-home a:nth-of-type(2){
  background-color: white;
  color: black;
}