*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.doctor-notification {
    background-color: white;
    height: 700px;
    margin-top: 25px;
    padding-top: 80px;
}

.doctor-notification h2{
    color: #192a56;
    font-weight: 700;
}

/* dark mood */

body.dark .doctor-notification{
    background-color: black;
}

body.dark .doctor-notification h2{
   color: white;
}

